{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block body %}
	<div class="alert alert-info" role="alert">
		<p><strong>Q:</strong> Платно ли смотреть порно?</p>
		<p><strong>A:</strong> Нет, трафик локальный.</p>
	</div>
	<div class="alert alert-info" role="alert">
		<p><strong>Q:</strong> Как часто обновляется контент?</p>
		<p><strong>A:</strong> Каждую ночь.</p>
	</div>
	<div class="alert alert-info" role="alert">
		<p><strong>Q:</strong> Почему так мало?</p>
		<p><strong>A:</strong> В данный момент количество контента ограничено 15 ГБ. Мы пытаемся это исправить.</p>
	</div>
	<div class="alert alert-info" role="alert">
		<p><strong>Q:</strong> Кто будет знать о том, что я просматривал на сайте</p>
		<p><strong>A:</strong> Никто. Мы не храним и не просматриваем историю заходов.</p>
	</div>
	<div class="alert alert-info" role="alert">
		<p><strong>Q:</strong> У меня не воспроизводится видео в браузере. Что делать?</p>
		<p><strong>A:</strong> Попробуйте скачать видео по ссылке, находящейся под видео.</p>
	</div>
{% endblock %}

