<!DOCTYPE html>
<html>
 <head>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<script src="../static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
	<meta charset="utf-8" />
	<title>FAQ</title>
 </head>
 <body>
	 <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The Fappening</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/videos">Video</a></li>
              <li><a href="/about">Thanks To</a></li>
              <li><a href="/FAQ">FAQ</a></li>
              <li><a href="/feedback">Feedback </a></li>
            </ul>
          </div><!--/.nav-collapse -->
        <div class="alert alert-info" role="alert">
			<p><strong>Q:</strong> Платно ли смотреть порно?</p>
			<p><strong>A:</strong> Нет, трафик локальный.</p>
		</div>
		<div class="alert alert-info" role="alert">
			<p><strong>Q:</strong> Как часто обновляется контент?</p>
			<p><strong>A:</strong> Каждую ночь.</p>
		</div>
		<div class="alert alert-info" role="alert">
			<p><strong>Q:</strong> Есть ли у вас зоопорно?</p>
			<p><strong>A:</strong> Есть, но оно в неочевидном месте.</p>
		</div>
		<div class="alert alert-info" role="alert">
			<p><strong>Q:</strong> Почему так мало?</p>
			<p><strong>A:</strong> В данный момент количество контента ограничено 15 ГБ. Мы пытаемся это исправить.</p>
		</div>
		<div class="alert alert-info" role="alert">
			<p><strong>Q:</strong> У меня не получается перематывать видео. Что делать?</p>
			<p><strong>A:</strong> Попробуйте Firefox.</p>
		</div>
		<div class="alert alert-info" role="alert">
			<p><strong>Q:</strong> Кто будет знать о том, что я просматривал на сайте</p>
			<p><strong>A:</strong> Никто. Мы не храним и не просматриваем историю заходов.</p>
		</div>
		<div class="alert alert-info" role="alert">
			<p><strong>Q:</strong> У меня не воспроизводится видео в браузере. Что делать?</p>
			<p><strong>A:</strong> Попробуйте скачать видео по ссылке, находящейся под видео.</p>
		</div>
      </div>
 </body>
</html>
