{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <form action="/feedback/" method="POST">
        <h3 class="text-center">Что вы думаете об этом сайте?</h3>
		<div class="form-group col-xs-8 col-xs-offset-2">
			<textarea class="form-control" name="opinion" rows="8" placeholder="Ваше мнение..." required></textarea>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-2">
				<button type="submit" class="btn btn-default">Отправить</button>
			</div>
		</div>
    </form>
{% endblock %}
