<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
  <meta charset="utf-8" />
  <title>{{name}}</title>
 </head>
 <body>
	<div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The Fappening</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/videos">Видео</a></li>
              <li><a href="/about">Благодарности</a></li>
              <li><a href="/info">Информация</a></li>
              <li><a href="/feedback">Обратная связь </a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
		<img src="../static/images/{{name}} "/>
</body>
</html>
