<!DOCTYPE html>
 <head>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <script src="../static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
  <meta charset="utf-8" />
  <title>The Fappening</title>
 </head>
 <body>
	<div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">The Fappening</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/videos">Video</a></li>
              <li><a href="/about">Thanks To</a></li>
              <li><a href="/FAQ">FAQ</a></li>
              <li><a href="/feedback">Feedback </a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <a href="playboyrussia.com/cyberclub/data/videos/10126/10126_1080.mp4">Сделанная в тени с Yesenia Bustillo</a>
        </div>
        
 </body>
</html>
